<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="yandex-verification" content="1d9e8e74c596de62" />
    <title>@ViewData["Title"] - AdelCore</title>
    <link rel="icon" type="image/x-icon" href="rubinfon.png">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
            @RenderSection("roof", true)
            @RenderSection("slides")
            @RenderSection("footer",true)
    </div>
 
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
